{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <div class="col-12 mt-3 left">
            <div class="row">

                {% for post in post_list %}
                <div class="col-md-3">
                    <div class="card mb-3">
                        <div class="card-body rounded border-dark">

                            <div class="image-container">{% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top d-flex align-items-center img-fluid" src="#">
                                {% else %}
                                <img class="card-img-top d-flex align-items-center img-fluid" src=" {{ post.featured_image.url }}">
                                {% endif %}
                            </div>
                            <h4 class="card-title">{{ post.title }}</h4>
                            <p class="card-subtitle">{{ post.profession }}</p>
                            <p class="card-text">{{ post.content }}</p>
                            <p class="card-text">{{ post.city }}</p>
                            <a href="#" class="btn btn-primary">book</a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>

    </div>
</div>


{% endblock %}