{% extends "base.html" %}

{% block content %}

<header class="bg-dark mb-5">
    <div class="container py-5">
        <div class="text-center text-white py-5">
            <h2 class="display-4">EasyBook</h2>
            <p>Bookings for small business</p>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">

        <div class="col-12 mt-3 left">
            <div class="row">

                {% for post in post_list %}
                <div class="col-md-3">
                    <div class="card mb-3">
                        <div class="card-body rounded border-dark">

                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top d-flex align-items-center img-fluid" src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=">
                                {% else %}
                                <img class="card-img-top d-flex align-items-center img-fluid" src=" {{ post.featured_image.url }}">
                                {% endif %}
                            </div>
                            <h4 class="card-title">{{ post.title }}</h4>
                            <p class="card-subtitle">{{ post.profession }}</p>
                            <p class="card-text">{{ post.content }}</p>
                            <p class="card-text"><span><i class="fa-solid fa-location-dot"></i></span> {{ post.city }}</p>
                            <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">See More</a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>

    </div>
</div> 

{% endblock %}