{% extends "base.html" %}

{% block content %}


<section class="container">
    <div class="row gx-5">
        <section class="col-md-8 col-sm-12">
            <h1>{{ post.title }}</h1>
            <div id="carouselExampleControls" class="carousel slide mb-3" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        {% if "placeholder" in post.featured_image.url %}
                        <img class="d-block w-100 img-fluid"
                            src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=">
                        {% else %}
                        <img class="d-block w-100 img-fluid" src=" {{ post.featured_image.url }}">
                        {% endif %}
                    </div>
                    <div class="carousel-item">
                        {% if "placeholder" in post.gallery_image.url %}
                        <img class="d-block w-100 img-fluid"
                            src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=">
                        {% else %}
                        <img class="d-block w-100 img-fluid" src=" {{ post.gallery_image.url }}">
                        {% endif %}
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <h3 class="border-bottom pb-3">Services</h3>
            {% for service in services %}
            <div class="col-sm-4">
                <div class="">
                    <h5>{{ service.service_name }}</h5>
                </div>
                <div class="">
                    <p>Duration: 1 Hour</p>
                </div>
                <div class="">
                    <p>Price: ${{ service.price }}</p>
                </div>
                <div class="">
                    {% if user.is_authenticated %}
                    <div class="col-md-6 mb-3 border-bottom">
                        <a href="{% url 'update_service' service.id %}" class="btn btn-primary mb-3">Update</a>
                        <a href="{% url 'delete_service' service.id %}" class="btn btn-danger mb-3">Delete</a>

                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </section>
        <section class="col-md-4 col-sm-12">
            <div>
                <h5>Address</h5>
                <iframe id="google-maps-iframe"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25198.649940773365!2d144.96444794943216!3d-37.864238903550344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad6686866392389%3A0x5045675218cdae0!2sSt%20Kilda%20VIC%203182!5e0!3m2!1sen!2sau!4v1680037352996!5m2!1sen!2sau"
                    width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <br>
            <div class="border-bottom">
                <h5>About</h5>
                <p>{{ post.content }}</p>
            </div>
            <br>
            <div class="border-bottom">
                <h5>Contact</h5>
                <ul class="list-unstyled">
                    <li>Phone: {{ post.phone_number }}</li>
                    <li>Email: {{ post.email }}</li>
                </ul>
            </div>
            <br>
            <div class="border-bottom">
                <h5>Opening Hours:</h5>

                <ul class="list-unstyled">
                    <li>Monday: 9:00-6:00pm</li>
                    <li>Tuesday: 9:00-6:00pm</li>
                    <li>Wednesday: 9:00-6:00pm</li>
                    <li>Thursday: 9:00-6:00pm</li>
                    <li>Friday: 9:00-6:00pm</li>
                    <li>Saturday: Closed</li>
                    <li>Sunday: Closed</li>
                </ul>
            </div>
            <br>
            <div>
                <h5>Socials</h5>
                <ul class="list-inline">
                    <li>facebook</li>
                    <li>instagram</li>
                    <li>twitter</li>
                    <li>linkedin</li>
                </ul>
            </div>
        </section>
    </div>
    {% if user.is_authenticated %}

    <div class="col-md-12 d-flex justify-content-center m-5">
        <a href="{% url 'update_post' post.slug %}" class="btn btn-primary text-white p-3">Update</a>
        <a href="{% url 'delete_post' post.slug %}" class="btn btn-danger text-white p-3">Delete</a>
    </div>

    {% endif %}
</section>

{% endblock %}