{% extends "base.html" %}

{% block content %}



<div class="container">
  <div class="row">
    <div class="col-md-8 my-3 offset-md-2">

      <h2>Update your Business</h2>

      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Submit</button>

      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block extra_js %}
<script>

  const titleField = document.querySelector('#id_title');
  const slugField = document.querySelector('#id_slug');

  slugField.value = titleField.value.toLowerCase().replace(/\s+/g, '-');

  // if title field is updated slug field is updated also

  titleField.addEventListener('input', function() {
    slugField.value = titleField.value.toLowerCase().replace(/\s+/g, '-');
  });
  
</script>
{% endblock %}